.container {
    margin: 0 auto;
    width: 1400px;
    color: #222;
}
.bg {
    height: 300px;
    margin-bottom: 100px;
    background-image: url(../images/info/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.order_info {
    text-align: center;
}
.order_info h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.order_info ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: #888;
}
.order_info ul .fwb{
    color: #222;
}
.seclect_menu {
    border-bottom: 1px solid #333;
    margin-bottom: 120px;
    margin-top: 68px;
}
.seclect_menu ul{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seclect_menu ul li{
    flex: 1;
    text-align: center;
    height: 57px;
    line-height: 57px;
}
.seclect_menu ul li.on{
    background-color: #E4E7EE;
}

.title {
    font-size: 36px;
    margin-bottom: 160px;
    text-align: center;
}

/* section_01 */
.section_01 {
    text-align: center;
}
.section_01 > h1{
    font-size: 36px;
    margin-bottom: 33px;
    text-decoration: underline;
    text-decoration-color: #FFD500;
    text-underline-offset: 10px;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.section_01 .item_wrap {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px 50px;
}
.section_01 .item_wrap img{
    width: 1300px;
    margin-bottom: 20px;
}

.section_01 .item_wrap h1 {
    font-size: 36px;
}
.section_01 .item_wrap h3 {
    padding: 20px 0 30px;
    color: #333;
    font-size: 24px;
}
.section_01 .item_wrap h4 {
    color: #333;
    font-size: 24px;
}
.section_01 .btn {
    margin-top: 42px;
    width: 147px;
    height: 42px;
    margin: 42px auto 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}