
/* main-slide */
.container {
    width: 1400px;
    margin: 0 auto;
}
.main_slider {
    margin-top: -1px;
}
.main_slider .slide{

}
.main_slider .swiper {
}
.main_slider .swiper-wrapper {
}
.main_slider .swiper-slide {
    width: 467px;
}
.main_slider .swiper-slide img {
    filter: brightness(0.7);
}
.main_slider .slide img:hover {
    filter: brightness(1);
}
/* section 1 */
.section_01 {}
.section_01 .photo {
    position: relative;
}
.section_01 .photo:hover .hover_eff {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(#ffffff, #aaaaaa );
    mix-blend-mode: multiply;
    z-index: 1;
}

.section_01 .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:120px 0 30px 0;
}
.section_01 .item_wrap{
    display: flex;
    align-items: center;
    gap: 12px;
}
.section_01 .title h3{
    font-size: 24px;
}

.section_01 .title h4 {
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.section_01 .text_box h3{
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.6;
}

.section_01 .text_box p {
    color: #888;
    font-size: 12px;
}

/* section 2 */
.section_02 {}
.section_02 .prev, .next{
    font-size: 24px;
    color: #666;
    cursor: pointer;
}
.section_02 .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 30px 0;
}
.section_02 .title h3{
    font-size: 24px;
}

.section_02 .title h4 {
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.section_02 .item_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
.section_02 .item_wrap p{
    padding: 14px 0;
    width: 177px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    color: #888;
}
.section_02 .item_wrap .photo {
    overflow: hidden;
}
.section_02 .item_wrap .photo img{
    transition: all 0.3s;
}
.section_02 .item_wrap .photo img:hover{
    transform: scale(1.2);
}

/* section 3 */
.section_03 .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 30px 0;
}
.section_03 .title h3{
    font-size: 24px;
}

.section_03 .title h4 {
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.section_03 .item_01,.section_03 .item_02,.section_03 .item_03,.section_03 .item_04 {
    width: 600px;
    display: flex;
}
.section_03 .item_wrap {
    display: flex;
    gap: 20px 180px;
    flex-wrap: wrap;
}
.section_03 .item_wrap .photo {
    margin-right: 20px;
    cursor: pointer;
}
.section_03 .item_wrap .text_box {
    width: 256px;
}
.section_03 .item_wrap .text_box span{
    font-size: 14px;
}
.section_03 .item_wrap .text_box h3{
    font-size: 20px;
    margin: 20px 0 16px 0;
    line-height: 1.4;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.section_03 .item_wrap .text_box p{
    margin-bottom: 16px;
    line-height: 1.4;
    font-size: 14px;
    width: 223px;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


/* section 4 */
.section_04 {
    margin-bottom: 80px;
}
.section_04 .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 30px 0;
}
.section_04 .title h3{
    font-size: 24px;
}

.section_04 .title h4 {
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.section_04 .item_wrap li{
    display: flex;
    gap: 25px;
}


